body {
	font-family: 'Helvetica Neue', 'Roboto', Arial, sans-serif;
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration: none;
	color: #382110;
}

/* Top menu  */

#library-menu {
	height: 70px;
	border: 2px solid #000;
	color: #FFF;
	background: #1e5799
}

#library-menu > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#library-menu li {
	float: left;
}

#library-menu li:hover, #library-menu li:active {
	background-color:#A63B31;
}

#library-menu a:link, 
#library-menu a:visited {
	height: 35px;
	display: block;
	padding: 10px;
	color: #FFF;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
}

#library-menu a.menu-link, 
#library-menu a.menu-link {
	padding-top: 25px;
}

#library-menu li.icon-link {
	height: 70px;
}
#library-menu li.icon-link > a {
	padding-top: 15px;
	font-size: 45px;
}

/* Listed Items */

.item {
	border: 5px #1e5799 solid;
	display: block;
	margin: 5px;
	padding: 5px;
}

.grid {
	float: left;
}

.list {
	clear: both;
	width: 90%;
}

.item_recent:hover {
	background-color: #3D2D19;
	border: 5px #999 groove;
}

.item:hover {
	background-color: #A63B31;
	border: 5px #1e5799 groove;
}

.item_recent {
	background-color: #3D2D19;
	border: 5px #999 dashed;
	height: 260px;
	float: left;
	width: 150px;
	display: inline-block;
	margin: 5px;
	padding: 5px;
}

.list_item_recent {
	background-color: #FF9;
	border: 2px #1e5799 dashed;
	display: inline-block;
	margin: 5px;
	padding: 5px;
	clear:both;
	width: 95%;
}
	
.list_item_recent:hover {
	background-color: #FF9;
	border: 2px #1e5799 groove;
}

.list_item {
	background-color: #FFF;
	border: 2px #1e5799 solid;
	display: inline-block;
	margin: 5px;
	padding: 5px;
	clear:both;
	width: 95%;
	min-height: 200px;
}

.list_item:hover {
	background-color: #A63B31;
	border: 2px #1e5799 groove;
}

.books_header {
	padding-left: 5px;
	font-size: 16px;
	margin-top: 0px;
}

.book {
	width: 150px;
	height: 260px;
	text-align: center;
}

.book_list {
	text-align: center;
	clear: both;
	width: 100%;
	min-height: 200px;
}

.books_container {
	padding: 20px;
}

.book_detailed {
	width: 475px;
	display: inline-block;
	margin: 20px;
	text-align: center;
	}
	
.thumbnail {
	text-align: center;
	width: 128px;
	margin-left: 11px;
	margin-right: 11px;
	margin-top: 11px;
	}

.thumbnail_list {
	border: 1px #000 solid;
	text-align: center;
	width: 72px;
	float: left;
	display: inline-block;
	margin-left: 11px;
	margin-right: 11px;
	margin-top: 11px;
	}

.thumbnail_detailed {
	text-align: center;
	width: 150px;
	float: left;
	}
	
.desc {
	width: 150px;
	text-align: center;
	margin-top: 10px;
	border: 1px #000 solid;
	background-color: #FFF;
}

.desc_list {
	text-align: justify;
	display: inline-block;
	margin-top: 10px;
	margin-left: 10px;
	padding: 10px;
	float: left;
	width: 70%;
	text-overflow: ellipsis;
}


.desc_detailed {
	width: 300px;
	text-align: center;
	float: right;
}

.description {
	width: 300px;
	text-align: center;
	margin-top: 10px;
	float: right;
	text-align: justify; 
}
	
.thumb_border{
	border: 1px #000 solid;
	padding: 10px;
}
	
.more_info {
	float: left;
	width: 150px;
	margin-top: 30px;	
}


.author {
	font-size: 12px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #CC713C;
}
	
.author_list {
	font-size: 12px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #CC713C;
}

.rating {
	font-size: 14px;
}

div.rating {
	float: right;
	font-size: 14px;
	text-align: center;
	padding-top: 30px;
	color:#333;
	font-family: 'Spicy Rice', cursive;
	background:url(star.png) no-repeat center;
	height: 64px;
	width: 60px;
}


.publisher {
	font-size: 11px;
	color: #666;
	font-family: Verdana, Geneva, sans-serif;
}

.title {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #000;
	text-decoration: none;
}

.title_list {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size:15px;
	color: #000;
	text-decoration: none;
}

.title_smaller {
	font-size: 9px;
}
	
.modified {
	font-size: 10px;
	color: #333;
}

/* Goodreads widget details page */

#goodreads-widget {
	font-family: georgia, serif;
	padding: 18px 0;
	width:575px;
}
#goodreads-widget h1 {
	font-weight:normal;
	font-size: 16px;
	border-bottom: 1px solid #BBB596;
	margin-bottom: 0;
}
#goodreads-widget a {
	text-decoration: none;
	color:#660;
}
iframe{
	background-color: #ffffff;
}
#goodreads-widget a:hover { text-decoration: underline; }
#goodreads-widget a:active {
	color:#660;
}
#gr_footer {
	width: 100%;
	border-top: 1px solid #BBB596;
	text-align: right;
}
#goodreads-widget .gr_branding{
	color: #382110;
	font-size: 11px;
	text-decoration: none;
	font-family: verdana, arial, helvetica, sans-serif;
}